html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit
}

/* BACKGROUND */
body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Aleo', serif;
}

main {
  width: 90%;
  margin: 0 auto;
}

section {
  margin-bottom: 16px;
}

.title {
  padding-top: 24px;
}

.about {
  padding: 16px;
  background-color: #53ca5f;
}

.education {
  margin-bottom: 16px;
}

.skills {
  background-color: #53ca5f;
  padding: 8px;
  margin-bottom: 48px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arimo', sans-serif;
  text-align: left;
  color: #191919;
  margin: 0 0 8px;
}

h1 {
  font-size: 2em;
}

.contact-header {
  text-align: center;
}

p {
  max-width: 70ch;
  color: #191919;
}

.font-xxs {
  font-size: 0.8em;
}

.font-xs {
  font-size: 0.9em;
}

.font-s {
  font-size: 1em;
}

.font-m {
  font-size: 1.2em;
}

.font-l {
  font-size: 1.5em;
}

.font-xl {
  font-size: 1.8em;
}

.font-xxl {
  font-size: 2em;
}

.font-white {
  color: rgb(255, 255, 255, 1);
}

.font-dark {
  color: rgba(25, 25, 25, 1);
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.font-style-italic {
  font-style: italic;
}

/* NAVIGATION */
.menu-btn {
  position: absolute;
  z-index: 21;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  visibility: visible;
}

.menu-btn__burger {
  position: fixed;
  right: 1rem;
  top: 1.5rem;
  width: 28px;
  height: 3px;
  background: black;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
  background-color: white;
}

.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
  background-color: white;
}

.nav {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  margin-top: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
  background: rgba(25, 25, 25, 1);
  list-style-type: none;
  padding-right: 2rem;
  padding-top: 200px;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.logo-container {
  float: left;
  width: auto;
  padding: 0 16px;
  height: 100vh;
  background: rgba(25, 25, 25, 1);
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.logo img {
    height: 8vh;
    width: auto;
    min-height: 50px;
    max-height: 200px;
}

.nav .logo {
  text-decoration: none;
  color: white;
  position: relative;
  top: 16px;
  left: 16px;
}

.nav-design {
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.logo-container.open {
  transform: translateY(0);
}

.nav .menu-nav__item {
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item a {
  text-decoration: none;
  color: rgba(0, 174, 239, 1);
  display: inline-block;
  padding: 12px;
  font-size: 1.2em;
}

.nav .menu-nav__item a:visited {
  color: rgb(115, 218, 255);
}

.nav .menu-nav__item a:hover,
.nav .menu-nav__item a:focus-visible {
  color: white;
}

.profile-image {
  width: 90%;
  max-width: 400px;
  height: auto;
  max-height: 400px;
  margin: 0 auto;
}

/* ACCORDION */
.accordion {
  background-color: rgba(0, 174, 239, 0.8);
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1em;
  transition: 0.4s;
}

.accordion-active,
.accordion:hover,
.accordion:focus-visible {
  background-color: rgba(0, 174, 239, 1);
}

.accordion:hover,
.accordion:focus-visible {
  border: 1px solid rgba(25, 25, 25, 1);
}


.panel {
  padding: 0 16px;
  background-color: rgba(25, 25, 25, 0.2);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* LIST */


ul {
  list-style-type: none;
}

.list-header {
  margin: 0;
}

.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.list-column {
  padding: 0 12px;
}

/* CAROUSEL */
/* Carousel container */
.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.carousel-container {
  display: none;
}

/* forward & Back buttons */
.carousel-back,
.carousel-forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.carousel-forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.carousel-back:hover,
.carousel-forward:hover,
.carousel-back:focus-visible,
.carousel-forward:focus-visible {
  background-color: rgba(25, 25, 25, 0.8);
}

/* Caption Info */
.carousel-info {
  color: black;
  padding: 10px 14px;
  text-align: center;
}

/* The circles or bullets and indicators */
.carousel-dots {
  text-align: center;
  margin-top: 8px;
}

.carousel-dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: rgba(25, 25, 25, 0.2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover,
.dots:focus-visible {
  background-color: rgba(25, 25, 25, 0.8);
}

/* CONTACT */
form {
  background-color: rgb(165, 165, 165);
  border: 1px solid black;
  padding: 8px;
}

.form-errors {
  font-size: 1.2em
}

.form-errors li {
  margin-bottom: 8px;
}

label {
  margin: 4px 0;
}

.textInput label {
  display: block;
}

input {
  margin-bottom: 4px;
}

.submit, .reset {
  color: white;
  border: 1px solid black;
  border-radius: 10%;
  padding: 4px 8px;
  margin: 12px 0 4px;
}

.submit {
  background-color: rgba(4, 128, 64, 0.8);
  margin-right: 8px;
}

.submit:hover,
.submit:focus-visible {
  background-color: rgba(4, 128, 64, 1);
}

.reset {
  background-color: rgba(229, 16, 16, 0.8);
}

.reset:hover,
.reset:focus-visible {
  background-color: rgba(229, 16, 16, 1);
}

/* Cards */

.card-container {
  align-self: stretch;
  margin: 0 0 16px;
}

.card {
  width: auto;
  height: 100%;
  background: #53ca5f;
  margin: 0 8px;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 8px;
}

.card-title {
  margin: 0;
  font-weight: bold;
  font-size: 1.6rem;
  width: 100%;
}

.card-text {
  width: 100%;
  padding-bottom: 24px;
}

.card-link {
  text-decoration: none;
  padding: 8px;
  display: block;
  width: auto;
  position: absolute;
  bottom: 0px;
}

.card-link:hover,
.card-link:focus-visible {
  text-decoration: underline;
}

/* Modals */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-header {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 800px;
}

.modal-text {
  padding: 16px;
  border: 1px solid black;
}

/* The Close Button */
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus-visible {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#image-modal-link {
  width: 400px;
  height: auto;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.contact-form {
  margin-bottom: 32px;
}

.message {
  width: 90%;
}

footer {
  margin: 24px 0;
}

footer div {
  display: flex;
  justify-content: center;
}

/* Flex Layout Classes */
.row {
  display: flex;
  flex-flow: row wrap;
}

.col-12 {
  flex-basis: 100%;
}

.col-11 {
  flex-basis: 91.66%;
}

.col-10 {
  flex-basis: 83.33%;
}

.col-9 {
  flex-basis: 75%;
}

.col-8 {
  flex-basis: 66.66%;
}

.col-7 {
  flex-basis: 58.33%;
}

.col-6 {
  flex-basis: 50%;
}

.col-5 {
  flex-basis: 41.66%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-3 {
  flex-basis: 25%;
}

.col-2 {
  flex-basis: 16.66%;
}

.col-1 {
  flex-basis: 8.33%;
}

.col-0 {
  flex-basis: 0%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 568px) {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }

  .nav .menu-nav {
    height: 132px;
    margin: 0 auto;
    transform: translateY(0);
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0;
  }

  .logo-container {
    height: 132px;
    transform: translateY(0);
  }

  main {
    margin-top: 132px;
    width: 80%;
  }

  form {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
  }

  .col-s-12 {
    flex-basis: 100%;
  }

  .col-s-11 {
    flex-basis: 91.66%;
  }

  .col-s-10 {
    flex-basis: 83.33%;
  }

  .col-s-9 {
    flex-basis: 75%;
  }

  .col-s-8 {
    flex-basis: 66.66%;
  }

  .col-s-7 {
    flex-basis: 58.33%;
  }

  .col-s-6 {
    flex-basis: 50%;
  }

  .col-s-5 {
    flex-basis: 41.66%;
  }

  .col-s-4 {
    flex-basis: 33.33%;
  }

  .col-s-3 {
    flex-basis: 25%;
  }

  .col-s-2 {
    flex-basis: 16.66%;
  }

  .col-s-1 {
    flex-basis: 8.33%;
  }
}

@media screen and (min-width: 786px) {
  .profile-text {
    margin-top: 0;
    padding-left: 24px;
    font-size: 1.2em;
    align-self: center;
  }

  .list-container {
    justify-content: space-evenly;
  }

  .list-column {
    padding: 0;
  }

  .col-m-12 {
    flex-basis: 100%;
  }

  .col-m-11 {
    flex-basis: 91.66%;
  }

  .col-m-10 {
    flex-basis: 83.33%;
  }

  .col-m-9 {
    flex-basis: 75%;
  }

  .col-m-8 {
    flex-basis: 66.66%;
  }

  .col-m-7 {
    flex-basis: 58.33%;
  }

  .col-m-6 {
    flex-basis: 50%;
  }

  .col-m-5 {
    flex-basis: 41.66%;
  }

  .col-m-4 {
    flex-basis: 33.33%;
  }

  .col-m-3 {
    flex-basis: 25%;
  }

  .col-m-2 {
    flex-basis: 16.66%;
  }

  .col-m-1 {
    flex-basis: 8.33%;
  }
}

@media screen and (min-width: 998px) {
  main {
    width: 75%;
  }

  .profile-image {
    margin: 0;
    width: 400px;
    margin: -16px 16px -16px -16px;
  }

  .about {
    flex-wrap: nowrap;
  }

  .col-l-12 {
    flex-basis: 100%;
  }

  .col-l-11 {
    flex-basis: 91.66%;
  }

  .col-l-10 {
    flex-basis: 83.33%;
  }

  .col-l-9 {
    flex-basis: 75%;
  }

  .col-l-8 {
    flex-basis: 66.66%;
  }

  .col-l-7 {
    flex-basis: 58.33%;
  }

  .col-l-6 {
    flex-basis: 50%;
  }

  .col-l-5 {
    flex-basis: 41.66%;
  }

  .col-l-4 {
    flex-basis: 33.33%;
  }

  .col-l-3 {
    flex-basis: 25%;
  }

  .col-l-2 {
    flex-basis: 16.66%;
  }

  .col-l-1 {
    flex-basis: 8.33%;
  }
}

@media screen and (min-width: 1200px) {
  main {
    width: 65%;
  }

  .col-xl-12 {
    flex-basis: 100%;
  }

  .col-xl-11 {
    flex-basis: 91.66%;
  }

  .col-xl-10 {
    flex-basis: 83.33%;
  }

  .col-xl-9 {
    flex-basis: 75%;
  }

  .col-xl-8 {
    flex-basis: 66.66%;
  }

  .col-xl-7 {
    flex-basis: 58.33%;
  }

  .col-xl-6 {
    flex-basis: 50%;
  }

  .col-xl-5 {
    flex-basis: 41.66%;
  }

  .col-xl-4 {
    flex-basis: 33.33%;
  }

  .col-xl-3 {
    flex-basis: 25%;
  }

  .col-xl-2 {
    flex-basis: 16.66%;
  }

  .col-xl-1 {
    flex-basis: 8.33%;
  }
}