body {
    font-size: 16px;
    color: rgba(25, 25, 25, 1);
}

.arimo {
    font-family: 'Arimo', sans-serif; 
}

.aleo {
    font-family: 'Aleo', serif;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.font-xxs {
    font-size: 0.7em;
}

.font-xs {
    font-size: 0.8em;
}

.font-s {
    font-size: 0.9em;
}

.font-m {
    font-size: 1em;
}

.font-l {
    font-size: 1.2em;
}

.font-xl {
    font-size: 1.5em;
}

.font-xxl {
    font-size: 2em;
}

.text-light {
    color: rgb(255, 255, 255, 1);
}

.text-dark {
    color: rgba(25, 25, 25, 1);
}

.colours p {
    display: flex;
    padding: 10px;
}
.colours span {
    padding: 10px;
}

form {
    border: 1px solid black;
    display: inline-block;
    padding: 8px;
}

label {
    margin: 4px 0;
}

.textInput label {
    display: block;
}

input {
    margin-bottom: 4px;
}

.submit {
    color: white;
    background-color: rgba(4, 128, 64, 0.8);
    border: 1px solid black;
    border-radius: 10%;
    padding: 4px 8px;
    margin: 12px 0 4px;
}

.submit:hover {
    background-color: rgba(4, 128, 64, 1);
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    border: 1px solid grey;
    width: auto;
    display: inline-block;
    background: rgba(57, 181, 71, 0.4);
    width: 30%;
    min-width: 18rem;
    max-width: 24rem;
    margin: 8px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 8px 16px 32px;
}

.card-title {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
}

.card-link {
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    background: rgba(43, 57, 144, 0.8);
    color: white;
}

.card-link:hover {
    background: rgba(43, 57, 144, 1);
}

.codeBlock {
    width: 50rem;
    height: 10rem;
}